USE [PBE_HI]
GO

/****** Object:  Table [ABC].[MedicalReplimental]    Script Date: 8/17/2021 9:27:16 AM ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [ABC].[MedicalReplimental](
	[Member_ID] [varchar](50) NULL,
	[EMPI] [bigint] NULL,
	[ServiceStartDT] [datetime] NOT NULL,
	[ServiceEndDT] [datetime] NULL,
	[EncounterID] [varchar](50) NULL,
	[EncounterDT] [datetime] NULL,
	[LineNumber] [int] NOT NULL,
	[BillType] [char](4) NULL,
	[ClaimTypeInd] [char](1) NULL,
	[ClaimStatusCD] [varchar](1) NULL,
	[CPT4_Code] [varchar](5) NULL,
	[HCPCS_Code] [varchar](5) NULL,
	[HCPCS_Mod] [varchar](2) NULL,
	[HCPCS_Code_Dx_Pointer] [varchar](5) NULL,
	[CPT_II_Code] [varchar](5) NULL,
	[CPT_Modifier1] [varchar](2) NULL,
	[CPT_Modifier2] [varchar](2) NULL,
	[CPT_Code_Dx_Pointer] [varchar](5) NULL,
	[CVX_Code] [varchar](3) NULL,
	[UB_Revenue_Code] [varchar](4) NULL,
	[CMS_POS_Code] [varchar](2) NULL,
	[HCFAPOS] [varchar](30) NULL,
	[Principal_DCI_Diagnosis_Code] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code1] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code2] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code3] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code4] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code5] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code6] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code7] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code8] [varchar](8) NULL,
	[Secondary_DCI_Diagnosis_Code9] [varchar](8) NULL,
	[Principal_DCI_Procedure_Code] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code1] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code2] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code3] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code4] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code5] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code6] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code7] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code8] [varchar](8) NULL,
	[Secondary_DCI_Procedure_Code9] [varchar](8) NULL,
	[DCI_Version_Indicator] [varchar](1) NULL,
	[SNOMED] [varchar](8) NULL,
	[MSDRG] [varchar](3) NULL,
	[MSDRG2] [varchar](3) NULL,
	[LabTestName] [varchar](200) NULL,
	[LabTest_LOINC] [varchar](10) NULL,
	[LabTestResult] [varchar](255) NULL,
	[LabTestResultUnits] [varchar](30) NULL,
	[LabObservationDT] [datetime] NULL,
	[FinalResult] [int] NULL,
	[EventDescription] [varchar](255) NULL,
	[AbnormalFLG] [char](1) NULL,
	[RenderingProvider_SK] [bigint] NOT NULL,
	[RenderingProviderID] [varchar](30) NULL,
	[RenderingProviderID_Type] [varchar](12) NULL,
	[Rendering_Provider_Specialty_Type] [varchar](30) NULL,
	[ReferringProviderID] [varchar](30) NULL,
	[ReferringProviderID_Type] [varchar](12) NULL,
	[BillingProviderID] [varchar](30) NULL,
	[BillingProviderID_Type] [varchar](12) NULL,
	[EffectiveDT] [datetime] NOT NULL,
	[Reference_Range] [varchar](30) NULL,
	[Related_Docs] [varchar](50) NULL,
	[Systolic] [varchar](10) NULL,
	[Diastolic] [varchar](10) NULL,
	[Source] [varchar](30) NULL,
	[Source_Name] [varchar](30) NULL,
	[Height] [varchar](10) NULL,
	[Weight] [varchar](10) NULL,
	[BMI_Value] [varchar](10) NULL,
	[BMI_Percentile] [varchar](10) NULL,
	[NDC] [varchar](11) NULL,
	[RXNorm] [varchar](8) NULL,
	[Quantity] [numeric](13, 3) NULL,
	[DaysSupply] [varchar](30) NULL,
	[DischargeStatus] [varchar](30) NULL,
	[DaysDenied] [varchar](30) NULL,
	[RoomBoardFLG] [char](1) NULL,
	[RRU_Units_of_Service] [varchar](30) NULL,
	[MajorSurgery_FLG] [char](1) NULL,
	[User_Note] [varchar](30) NULL,
	[Approver_Comments] [varchar](30) NULL,
	[Inserted_By] [varchar](30) NULL,
	[Modified_By] [varchar](30) NULL,
	[Modified_DT] [datetime] NULL,
	[HCC_Category] [varchar](30) NULL,
	[Used_For_HCC_Calculations] [int] NULL,
	[ReplimentalType] [varchar](50) NULL,
	[Replimental_DATA_ID] [varchar](255) NULL,
	[FILE_ID] [int] NOT NULL,
	[Del_Ind] [int] NOT NULL,
	[Aud_Ins_DT] [datetime] NOT NULL,
	[Aud_Upd_DT] [datetime] NOT NULL,
	[Aud_Rec_Check_Sum] [varchar](50) NOT NULL,
	[Aud_Ins_Batch_ID] [int] NOT NULL,
	[Aud_Upd_Batch_ID] [int] NOT NULL
) ON [PRIMARY]
GO


